<div class="logo">
  <a class="simple-text" href="#">
    <div class="logo-img">
      <img src="../assets/img/angular.png" alt="">
    </div>
    Creative Tim
  </a>
</div>
<div class="sidebar-wrapper">
  <mat-list class="nav">
    <li class="nav-item active">
      <a href="">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="">
        <mat-icon>person</mat-icon>
        <span>User Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="">
        <mat-icon>content_paste</mat-icon>
        <span>Table list</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="">
        <mat-icon>assignment</mat-icon>
        <span>Typography</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="">
        <mat-icon>bubble_chart</mat-icon>
        <span>Icons</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="">
        <mat-icon>location_on</mat-icon>
        <span>Maps</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="">
        <mat-icon>notifications</mat-icon>
        <span>Notifications</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="">
        <mat-icon>drive_folder_upload</mat-icon>
        <span>Upgrade To PRO</span>
      </a>
    </li>
  </mat-list>
</div>
